<!DOCTYPE html>
<html>
<head>
  <title>Trust</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
 
  <%= csrf_meta_tags %>


</head>
<body>
<div id="wrap">
  <div id="header">
        <div id="headerleft">
            <div id="logo"></div>
          <p class="fancy">Masmet Store App <span style="color:#FF9900";>Beta</span></p>
        </div>
        <div id="headerright">
        	<ul>
            	<li><%= link_to "Home", root_path %></li>
                <li class="divider">|</li>
                <li><%= link_to "Help", help_path %></li>
                <li class="divider">|</li>
                <li><%= link_to "About", about_path %></li>
                <li class="divider">|</li>
                <li><%= link_to "Contact", contact_path %></li>
            </ul>
        </div>
    </div>

<div id="contents">
	<div id="innerwrap">
<div id="leader">
            	<p class="fancy">Welcome to the Masmet Dashboard. </p>
            	<p class="fancy">Please sign in to proceed.</p>
</div>
<div id="main">	
	<body class='<%= controller.controller_name %>'>
<%= yield %>
</div>

<%= render 'layouts/footer' %>
</div>

</body>
</html>
</html>

